#centro{
    margin-left: 37.5%;
}

.textoPrimario{
    padding-top: 50px;
    font-size: 150px;
    font-weight: bold;
    color: black;
}

.botonSecundario{
    border: 1px solid black;
  
}

.titulosForm{
    font-weight: lighter;
}

button{
    border-radius: 50px;
}

.rotate{
    transform: rotate(180deg);
}

.sort2{
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
    
    
}

.calendario{
    position: absolute;
    margin-left: 1010px;
    margin-top: -26.5px;
}

